<!doctype html>
<html lang="en">
<head>
  <title>Node Authentication</title>
  <link rel="shortcut icon" href="http://cdn.flaticon.com/png/256/26053.png"/>
  <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body style="padding-top:80px;">
  <div class="container">
    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span> Node Authentication</h1>
      <p>Login or Register With:</p>
      <!-- Login Button -->
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
      <!-- Signup Button -->
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
  </div>
</body>
</html>
